<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthdays</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css"
      integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">{% block title %}{% endblock %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          {% if session.user_id %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="#registerModal">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#loginModal" >Log In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %} 
      {% if messages %} 
        {% for message in messages %}
          <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">New Message!</strong>
                <small>Just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
          </div>
        {% endfor %} 
      {% endif %} 
    {% endwith %}

    <!-- Register -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registerModalTitle">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="modal-body" action="/register" id="register-form">
            <input type="text" autocomplete="off" class="form-control" name="username" placeholder="Username" required>
            <input type="password" autocomplete="off" class="form-control" name="password" placeholder="Password" required>
            <input type="password" autocomplete="off" class="form-control" name="confirmation" placeholder="Repeat Password" required>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg rounded-lg" data-dismiss="modal">Close</button>
            <input type="submit" form="register-form" class="btn btn-primary btn-lg rounded-lg" value="Log In">
          </div>
        </div>
      </div>
    </div>

    <!-- Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="modal-body" action="/login" id="login-form">
            <input type="text" autocomplete="off" class="form-control" name="username" placeholder="Username" required>
            <input type="password" autocomplete="off" class="form-control" name="password" placeholder="Password" required>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg rounded-lg" data-dismiss="modal">Close</button>
            <input type="submit" form="login-form" class="btn btn-primary btn-lg rounded-lg" value="Register">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="w-50 mx-auto">{% block main %}{% endblock %}</div>
    </div>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"
  ></script>
</html>
